:root {
    --bg-nav: rgb(0 121 255);
    --bg-card: rgb(171 220 255);
    --bg-section: #9593e6;
    --bg-footer: rgb(51 51 51);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: arial;
}

section {
    padding: 2rem 0;
}

header {
    padding-bottom: 20px;
}

.display-flex {
    display: flex;
}

nav {
    position: fixed;
    right: 0%;
    left: 0%;
    z-index: 4;
    background-color: var(--bg-nav);
}

h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {

    color: var(--bg-nav);
}

img {
    display: block;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.container-small {
    max-width: 450px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.col-100 {
    flex-basis: 100%;
}


.col-1_2 {
    flex-basis: 50%;
    position: relative;
    height: 200px;
}

.link-container {
    display: none;
}

header a {
    text-decoration: none;
    color: black;
    padding-left: 1rem;
}

footer a {
    color: var(--bg-section);
}

.image-phone {
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -2rem;
}

.image-plane {
    width: 60%;
    margin: 0 auto;
}

.icon-style {
    color: var(--bg-nav);
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

.button {
    border: none;
    border-radius: 15px;
    margin: 10px;
    padding: 8px 30px;
}

.button-white {
    color: black;
    background-color: white;
}

.color-white {
    color: white;
}

.button-blue {
    color: white;
    background-color: var(--bg-nav);
    padding: 6px 35px;
}

.button-violet {
    color: white;
    background-color: var(--bg-section);
    padding: 6px 35px;
}

.font-size {
    font-size: 1.5rem;
}

.button-arrow {
    border-radius: 50%;
    background-color: var(--bg-section);
    color: black;
    border-style: none;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    margin-left: 45%;
    margin-top: 2rem;
}

.color-grey {
    color: #555555;
}

.color-black {
    color: black;
}

.color-violet {
    color: var(--bg-section);
}

.card-color {
    background-color: var(--bg-card);
}

.background-section {
    background-color: var(--bg-section);
}

.card {
    border-radius: 20px;
    padding: 2rem;
}

.card-secondary {
    border-radius: 20px;
    background-color: var(--bg-section);
    margin-bottom: 1rem;
    color: white;

}

.card-white {
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
}

.image {
    width: 100%
}

.image-testimonial {
    width: 200px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    padding: 1rem;
    margin: 0 auto;
}

.col {
    padding: 0.5rem;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.line-height {
    line-height: 2.5rem;
}

.display-flex {
    display: block;
}

.padding-dimension-card {
    padding: 1rem 3rem;
}

.pt-2 {
    padding-top: 2rem;
}

.margin-top {
    margin-top: 3rem;
}

.bg-footer {
    background-color: var(--bg-footer);
}

.text-left .image-testimonial {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

.color-yellow {
    color: rgb(255 193 64);
}

.button-large {
    padding: 10px 40px;
}

.point-size {
    font-size: 8px;
}

.p-left-right {
    padding-right: 8rem;
}